<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= typeof title !== 'undefined' ? title : 'Meu Sistema de Estoque' %></title>
        <link rel="stylesheet" href="/styles.css"> 
        <% if (typeof style !== 'undefined') { %>
            <link rel="stylesheet" href="<%= style %>"> 
        <% } %>
    </head>
<body>
    <%- include('partials/header') %>

    <main>
        <%- body %> 
    </main>

    <%- include('partials/footer') %>
</body>
</html>